.root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.19);
  background: rgb(255, 255, 255);
  min-width: 0;
  min-height: 0;
  border-bottom: 4px solid rgb(255, 255, 255);
}
.text___2XaLf {
  position: relative;
  font-size: 16px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  line-height: 1;
  background: linear-gradient(
        308deg,
        rgb(246, 88, 137) 0%,
        rgb(246, 89, 96) 100%
      )
      0% 0% / 100% 100% no-repeat padding-box border-box scroll,
    rgb(236, 97, 123);
  padding: 10px;
}
.freeBox__lk5NM {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 5px;
}
.freeBox__lk5NM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__lk5NM > :global(.__wab_flex-container) > *,
.freeBox__lk5NM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lk5NM > :global(.__wab_flex-container) > picture > img,
.freeBox__lk5NM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__s6RMc {
  display: flex;
  position: relative;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  width: 240px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.69) 0%,
      rgba(0, 0, 0, 0) 59%
    )
    0% 0% / 100% 100% no-repeat padding-box border-box scroll;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 20px;
}
.freeBox__variants_wide__s6RMcA88GQ {
  left: auto;
  top: auto;
}
.text__uN7Kh {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
.text__bCjTk {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.svg__fRliU {
  display: flex;
  position: absolute;
  object-fit: cover;
  width: 48px;
  height: 48px;
  left: auto;
  top: 13px;
  right: -15px;
  flex-shrink: 0;
}
.freeBox__cqYCy {
  display: flex;
  position: relative;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 240px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.69) 0%,
      rgba(0, 0, 0, 0) 59%
    )
    0% 0% / 100% 100% no-repeat padding-box border-box scroll;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 20px;
}
.freeBox__variants_wide__cqYCyA88GQ {
  left: auto;
  top: auto;
}
.text__w4LXm {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
.text___4TsM3 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.svg__v3Cq5 {
  display: flex;
  position: absolute;
  object-fit: cover;
  width: 48px;
  height: 48px;
  left: auto;
  top: 13px;
  right: -15px;
  flex-shrink: 0;
}
.freeBox__su1I0 {
  display: flex;
  position: relative;
  height: 150px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 240px;
  width: 100%;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.69) 0%,
      rgba(0, 0, 0, 0) 59%
    )
    0% 0% / 100% 100% no-repeat padding-box border-box scroll;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 10px;
  padding: 20px;
}
.freeBox__variants_wide__su1I0A88GQ {
  left: auto;
  top: auto;
}
.text__qion1 {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 700;
}
.text___9CGok {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 12px;
}
.svg___7Oe6 {
  display: flex;
  position: absolute;
  object-fit: cover;
  width: 48px;
  height: 48px;
  left: auto;
  top: 13px;
  right: -15px;
  flex-shrink: 0;
}
