.root {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  width: auto;
  height: auto;
  background: #ffffff;
}
.frame50 {
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px #00000033;
  border-radius: 14px;
  padding: 24px;
}
.frame50 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame50 > :global(.__wab_flex-container) > *,
.frame50 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame50 > :global(.__wab_flex-container) > picture > img,
.frame50
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.group48 {
  height: 58px;
  display: block;
  position: relative;
  align-self: stretch;
  flex-shrink: 0;
}
.text__g6Ow9 {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(21, 37, 54, 1);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 188px;
  height: 31px;
}
._41774964122951819 {
  display: block;
  font-size: 18px;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 31px;
  left: 399px;
  width: 295px;
  height: 27px;
  transform: translate(-0.15899999999999181px, 0px);
}
.text__el4Hw {
  display: block;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(150, 150, 150, 1);
  position: absolute;
  top: 31px;
  left: 0px;
  width: 215px;
}
.svg {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #85ff71;
  transform: translate(0.382000000000005px, 0px);
  width: 16px;
  height: 15px;
  display: block;
  top: 6px;
  left: 187px;
}
._12Miles5476FtBellevueWa {
  display: block;
  font-size: 18px;
  text-align: right;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: absolute;
  top: 3px;
  left: 442px;
  width: 248px;
  height: 18px;
  transform: translate(-0.2389999999999759px, 0px);
}
.frame5 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
  flex-direction: row;
}
.frame5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame5 > :global(.__wab_flex-container) > *,
.frame5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame5 > :global(.__wab_flex-container) > picture > img,
.frame5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.group15 {
  width: 120px;
  height: 89px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle398 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 5px;
}
.frame2 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: absolute;
  top: 24px;
  left: 13px;
  flex-direction: column;
}
.frame2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame2 > :global(.__wab_flex-container) > *,
.frame2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame2 > :global(.__wab_flex-container) > picture > img,
.frame2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__g84A6 {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  max-width: 57px;
  width: 100%;
  min-width: 0;
}
.text__hrVi1 {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.group16 {
  width: 116px;
  height: 89px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle399 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 5px;
}
.frame3 {
  width: 96px;
  height: auto;
  display: flex;
  position: absolute;
  top: 24px;
  left: 14px;
  flex-direction: column;
}
.frame3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame3 > :global(.__wab_flex-container) > *,
.frame3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame3 > :global(.__wab_flex-container) > picture > img,
.frame3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text___8RaIt {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__y9XCb {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.group17 {
  width: 159px;
  height: 89px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.frame4 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(206, 215, 219, 1);
  width: auto;
  height: 89px;
  display: inline-flex;
  position: absolute;
  top: 0px;
  left: 0px;
  flex-direction: column;
  border-radius: 10px;
  padding: 16px;
}
.frame4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame4 > :global(.__wab_flex-container) > *,
.frame4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame4 > :global(.__wab_flex-container) > picture > img,
.frame4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__tgRdF {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__dHcOd {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.group19 {
  width: 141px;
  height: 89px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle400 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 5px;
}
.frame6 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: absolute;
  top: 24px;
  left: 13px;
  flex-direction: column;
}
.frame6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame6 > :global(.__wab_flex-container) > *,
.frame6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame6 > :global(.__wab_flex-container) > picture > img,
.frame6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__iAih9 {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__dAcxY {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.group18 {
  width: 125px;
  height: 89px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle401 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 5px;
}
.frame7 {
  transform: translate(-0.45899999999994634px, 0px);
  width: 108px;
  height: auto;
  display: flex;
  position: absolute;
  top: 24px;
  left: 14px;
  flex-direction: column;
}
.frame7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame7 > :global(.__wab_flex-container) > *,
.frame7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame7 > :global(.__wab_flex-container) > picture > img,
.frame7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__mNlU {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text___0OTtJ {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame8 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
  flex-direction: row;
}
.frame8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.frame8 > :global(.__wab_flex-container) > *,
.frame8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame8 > :global(.__wab_flex-container) > picture > img,
.frame8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.group20 {
  width: 199px;
  height: 89px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle402 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 5px;
}
.frame9 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: absolute;
  top: 24px;
  left: 13px;
  flex-direction: column;
}
.frame9 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame9 > :global(.__wab_flex-container) > *,
.frame9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9 > :global(.__wab_flex-container) > picture > img,
.frame9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__uKfrP {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 165px;
}
.text__sjWne {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame10 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(206, 215, 219, 1);
  width: auto;
  height: 89px;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
}
.frame10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame10 > :global(.__wab_flex-container) > *,
.frame10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame10 > :global(.__wab_flex-container) > picture > img,
.frame10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__rOs7D {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__vGmWw {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 85px;
}
.group21 {
  width: 141px;
  height: 89px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.rectangle403 {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(217, 217, 217, 1);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 5px;
}
.frame11 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: absolute;
  top: 24px;
  left: 13px;
  flex-direction: column;
}
.frame11 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.frame11 > :global(.__wab_flex-container) > *,
.frame11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame11 > :global(.__wab_flex-container) > picture > img,
.frame11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__mAfAk {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.text__kBlmV {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
}
.frame12 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  border-radius: 5px;
  padding: 16px;
}
.frame12 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.frame12 > :global(.__wab_flex-container) > *,
.frame12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame12 > :global(.__wab_flex-container) > picture > img,
.frame12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__xysJv {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 314px;
}
.frame13 {
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
  flex-direction: row;
}
.frame13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.frame13 > :global(.__wab_flex-container) > *,
.frame13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame13 > :global(.__wab_flex-container) > picture > img,
.frame13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.text__pqlsF {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 112px;
  flex-shrink: 0;
}
.text__nniah {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 151px;
  flex-shrink: 0;
}
.text__syYux {
  display: block;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: -0.408px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 1);
  position: relative;
  width: 178px;
  flex-shrink: 0;
}
