.root {
  display: flex;
  width: 421px;
  height: auto;
  position: relative;
  flex-direction: row;
  background: rgb(255, 255, 255);
  padding: 10px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.img {
  display: flex !important;
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 99px;
}
.img > picture > img {
  object-fit: cover;
}
.img > .__wab_img-spacer > img {
  object-fit: cover;
}
.freeBox__ubVpK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 323px;
  height: auto;
  flex-shrink: 0;
}
.freeBox__ubVpK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__ubVpK > :global(.__wab_flex-container) > *,
.freeBox__ubVpK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ubVpK > :global(.__wab_flex-container) > picture > img,
.freeBox__ubVpK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__uyYg {
  position: relative;
  font-weight: 700;
}
.text__ytSeF {
  position: relative;
  width: 313px;
}
.freeBox__sMtQf {
  display: inline-flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
}
.freeBox__sMtQf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
}
.freeBox__sMtQf > :global(.__wab_flex-container) > *,
.freeBox__sMtQf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sMtQf > :global(.__wab_flex-container) > picture > img,
.freeBox__sMtQf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.svg__opvvb {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__ir5GR {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__tg8Td {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.svg__ycw3D {
  display: flex;
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
